.hero {
  position: relative;
  height: clamp(640px, 100vh, 800px);
  @extend %cover-location;

  &__container {
    height: 100%;
    @extend %d-flex;
    align-items: center;
  }

  &__content {
    &-subtitle {
      @extend %d-block;
      @extend %circle-decor;
      margin-bottom: 10px;
    }

    &-title {
      max-width: 530px;
      margin-bottom: 25px;
    }

    &-controls {
    }

    &-link {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 36px;
    height: 23px;

    &-bar,
    &::before,
    &::after {
      position: absolute;
      right: 0;
      height: 3px;
      border-radius: 2px;
      background-color: clr(log-cabin-color);
    }

    &-bar {
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }

    &::before,
    &::after {
      content: "";
      width: 83.33%;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &__menu {
  }
}
