.social {
  @extend %f-center;

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link {
    @extend %d-block;

    &:hover {
      svg {
        color: lighten(clr(dark-color), 15%);
        transition: color 0.4s ease-in-out;
      }
    }
  }

  .icon-facebook,
  .icon-instagram,
  .icon-github,
  .icon-telegram {
    @extend %d-block;
    width: 20px;
    height: 20px;
    color: clr(dark-color);
    transition: color 0.4s ease-in-out;
  }
}
