.socpanel {
  position: fixed;
  top: 50%;
  left: 65px;
  transform: translate(-50%, -50%) rotate(-90deg);
  display: inline-flex;
  @extend %f-center;

  &__name {
    position: relative;
    padding-right: 85px;
    margin-right: 15px;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -1px;
      width: 70px;
      height: 2px;
      background-color: clr(dark-color);
    }
  }
  &__list {
  }
}
