.title {
  @extend %poppins-bold;

  &--sm {
    font-size: fz(sm);
    line-height: 1.5;
  }

  &--md {
    font-size: fz(md);
    line-height: 1.5;
  }

  &--lg {
    font-size: fz(lg);
    line-height: 1.5;
  }

  &--xl {
    font-size: fz(xl);
    line-height: 1.5;
  }

  &--xxxl {
    font-size: fz(xxxl);
    line-height: 1.25;
  }

  &--italic {
    font-style: italic;
  }
}
