.title {
  @extend %poppins-bold;

  &.title--sm {
    font-size: fz(sm);
    line-height: 1.5;
  }

  &.title--md {
    font-size: fz(md);
    line-height: 1.5;
  }

  &.title--lg {
    font-size: fz(lg);
    line-height: 1.5;
  }

  &.title--xl {
    font-size: fz(xl);
    line-height: 1.5;
  }

  &.title--xxxl {
    font-size: fz(xxxl);
    line-height: 1.25;
  }

  &.title--italic {
    font-style: italic;
  }
}
